<h1>Polyp View</h1>
<h3><%= "By: #{@user.username}" %></h3>
<p><%= @comment.entry %></p>
<%= button_to 'Edit Comment', edit_comment_path(@comment), method: :get %>
<%= button_to 'Delete Comment', comment_path(@comment), method: :delete, data: {confirm: 'Really delete this polyp?'} %>

<%= render(partial: 'comment_nav_bar') %> |
<%= link_to 'New Comment', new_comment_path(user_id: @user.id, post_id: @post.id) %>
