<% if @user.errors.any? %>
  <h5>Errors:</h5>
  <p><%= @user.errors.full_messages.join(', ') %></p>
<% end %>

<%= form_for @user, :html => { :multipart => true } do |f| %> 
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br />
  <%= f.file_field :avatar %>
  <br />
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.submit %>
<% end %>