<h1>All FrondTank Users</h1>
<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %>
        <%= button_to 'Edit User', edit_user_path(user), method: :get %>
        <%= button_to 'Delete User', user_path(user), method: :delete, data: {confirm: 'Really delete this user?'} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no fish in the FrondTank. Please create a user.</h3>
<% end %>

<hr />
<%= link_to 'Home', root_path %> |
<%= link_to 'New User', new_user_path %> 